.range-date {
  background-color: #c1c2c2;
  color: #2f2f2f;
}

.start-end-date {
  background-color: #26266d;
  color: white;
}

.datePickerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-bottom: 25px;
  z-index: 1000;
}

.datePickerContainer .date-dropdown-label {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: black;
}
.datePickerContainer .selected-dates {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: white;
  font-size: 1rem;
  padding: 15px;
  justify-content: space-between;
  border: 1px solid #c9c9c9;
}
/* .datePickerContainer .dateSelectorContainer {
  position: absolute;
  top: 80px;
} */
.datePickerContainer .dateSelectorContainer .CalendarContainer {
  background-color: white;
}
.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .calendarBottom-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding: 10px;
}
.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .calendarBottom-box
  .warning-label {
  color: #d0182b;
  width: 200px;
}
.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .calendarBottom-box
  .rate-label {
  color: #26266d;
  width: 200px;
}
.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .apply-dates-btn {
  font-weight: 400;
  font-size: 1rem;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .apply-dates-btn:active {
  transform: scale(0.9);
}

.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .apply-dates-btn-active {
  background-color: #26266d;
}
.datePickerContainer
  .dateSelectorContainer
  .CalendarContainer
  .apply-dates-btn-disabled {
  background-color: #c1c2c2;
}
